body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: inherit;
}

.card {
  font-size: 20px;
  background-color: blue
}
/*
.artifact-holder {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 4;
  background-color: blue
}

.artifact {

}*/
