
body {
  margin: 0;
  padding: 0;
  left: 0;
right: 0;
  font-family: sans-serif;
  background: #fafafa;
}
a {
  color: inherit;
}


.subtopic-card-container{
  display: grid;
  grid-template-columns: 2fr 50px;
  grid-template-rows: 1fr;
  grid-template-areas: "subName deleteSub";
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  font-size: 20px;
  background-color: #f0ecbc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  height: 50px;
  text-align: center;
  font-family: 'Spectral SC', sans-serif;
}

.topic-card {
  display: grid;
  grid-template-columns: 2fr 30px;
  grid-template-rows: 1fr;
  grid-template-areas: "topicName deleteTopic";
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  font-size: 20px;
  background-color: #f0e0f4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  height: 50px;
  text-align: center;
  font-family: 'Spectral SC', sans-serif;
}

#subtopicName{
  padding-top: 15px;
}

#topicName{
  padding-top: 11px;
  margin-bottom: 0
}


#deleteSub{
  grid-area: deleteSub;
  background-color: #fbb298;
  padding-top: 15px
}

#deleteTopic{
  grid-area: deleteTopic;
  background-color: #fbb298;
  padding-top: 15px;
}

.subtopic-header{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 25px
}

.subtopic-header h1{
  font-family: 'Spectral SC', sans-serif;
  margin-left: 3px
}


.topic-card-discover {
  font-size: 20px;
  background-color: #f0e0f4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  height: 50px;
  text-align: center;
  font-family: 'Spectral SC', sans-serif;
  margin: 10px;
  width: 100%;
  padding-top: 15px;
}

.subtopic-card-discover {
  font-size: 20px;
  background-color: #f0ecbc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  height: 50px;
  text-align: center;
  font-family: 'Spectral SC', sans-serif;
  margin: 10px;
  width: 100%;
  padding-top: 15px;
}

.discover-container {
  width: 50%;
  margin: auto;
}

.topic-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer
}

.subtopic-card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer
}

.topic-card-discover:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer
}

.subtopic-card-discover:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer
}

#trashIcon {
  cursor: pointer
}

.submit-button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit-button-topic {
  border: 2px solid #b1b1cf;
}

.submit-button-subtopic {
  border: 2px solid #e0dcca;
}

#artifact-caption {
  font-family: 'Tauri', sans-serif;
  font-size: 17px
}

.artifact-container a {
  font-size: 18px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.currentBorder{
  border: 2.5px solid coral;
}


/* Home Page */
.wrapper {
  display: grid;
}

.wrapper h3{
  font-family: "Source Sans Pro";
  font-size: 4.3rem;
}

.hero-image{
  width: 100%;
  height: 400px;
  position:relative;
  background-attachment:fixed;
  background-position: center;
  background-image: url(./hexbackground-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-wrap{
  position: absolute;
  height: 100px;
  width: 100%;
  top: 50%;
  text-align: center;
  margin-top: -70px;
  background-position: center;
}

.logo-wrap h1 {
  display: inline-block;
  font-family: 'Arvo';
  font-size: 140px;
  letter-spacing: 4px;
  color: rgb(83, 75, 84)
}

.about-container {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff7f4;
}

.about-item{
  padding: 3px;
  text-align: center;
  margin: 0 5px;
  height: 200px;
  font-family: "Slabo 27px";
  font-size: 2rem;
  color: #515151
}

.made-with-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #515151
}

.middle-item {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.made-with-item{
  text-align: center;
  padding: 10px;
  height: 300px;
  font-family: "Slabo 27px";
  font-size: 2rem;
}

.made-with-item.react {
  background-color: #baf0ff;
}

.made-with-item.redux{
  background-color: #c0c0f3
}

#redux-icon {
  display: inline;
}
